.card-imovel {
    border: 1px solid #ddd;
    padding: 26px;
    width: 320px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.05);
}

.descript-card {
    width: 100;
    height: 6em;
    background-color: #f1f1f18a;
    border-radius: 7px;
    padding: .5em;
    color: #848484;
    font-size: 18px;
}

.media {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 7px;
}

.media-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Faz com que a imagem ocupe toda a área da div sem distorção */
    object-position: center;
    /* Centraliza a imagem */
}


.card-imovel button {
    margin-top: 10px;
}

.status-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    border: solid;
    border-color: #eeeeee;
}

.status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.status-bar p {
    font-size: 16px;
    color: #848484;
}