.cardImovel {
    border: 2px solid #e3e3e3;
    padding: 26px;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.03);
    color: var(--preto);
}

.cardImovel:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.08);
}


.confirmacaoWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
}

.confirmacaoTexto {
    font-size: 0.9rem;
    color: #333;
}

.confirmarButton {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.cancelarButton {
    background-color: #9e9e9e;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.descriptCard {
    position: relative;
    /* necessário para posicionar o ::after */
    width: 95%;
    height: 160px;
    font-size: 14px;
    background-color: #f1f1f18a;
    border-radius: 7px;
    padding: 0.5em;
    color: #848484;
    line-height: 1.4;
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}


/* Fade cinza vindo de baixo */
.descriptCard::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.4em;

    background: linear-gradient(to top, rgba(241, 241, 241, 1), transparent);
    pointer-events: none;
    /* deixa clicável o conteúdo abaixo */
    border-radius: 0 0 7px 7px;
}





.media {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    border-radius: 7px;
}

.mediaImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.cardImovel button {
    margin-top: 10px;
}

.statusColor {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    border: solid;
    border-color: #eeeeee;
}

.statusBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.statusBar p {
    font-size: 16px;
    color: #848484;
}

.date p {
    margin-top: 2em;
    font-size: 14px;
    color: #848484;
}